<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/article/all">All Articles</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!authService.isUserLogged()">
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="authService.isUserLogged()">
                <li>
                    <a routerLink="/article/new">New Article</a>
                </li>
                <li>
                    <a routerLink="/user/edit">Manage Profile</a>
                </li>
                <li>
                    <a routerLink="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>