<div class="col-md-4"></div>
<div class="col-md-4">
    <h1 class="text-center">Manage users</h1>
    <table class="table table-bordered">
        <tr *ngFor="let user of users">
            <td>
                {{user.username}}
                <span class="label label-info pull-right" *ngIf="user.isAdmin">Admin</span>
            </td>
            <td>
                <button class="btn btn-success" *ngIf="!user.isAdmin" (click)="promote(user)">Promote</button>
                <button class="btn btn-danger" *ngIf="user.isAdmin" (click)="demote(user)">Demote</button>

                <button class="btn btn-success" *ngIf="user.isAdmin" (click)="promote(user)">Ban</button>
                <button class="btn btn-danger" *ngIf="!user.isAdmin" (click)="demote(user)">Unban</button>
            </td>
        </tr>
    </table>
</div>
<div class="col-md-4"></div>